<tr>
  <td><%= interview.id %></td>
  <td><%= interview.title%></td>
  <td><%= interview.author.email %></td>
  <td><%= interview.time_test %></td>
  <td><%= interview.start_date.to_date %></td>
</tr>